body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1.header {
    font-size: 2.5rem;
}

h5.header {
    font-size: 1.5rem;
}

table td, table th {
    word-wrap: break-word;
    width: 150px;
}
